/* STYLE - Botones */
.btn
	border: none

.btn-radio-100
	border-radius: 100% !important

@mixin themes($color)
	background-color: $color !important

	&:hover
		opacity: .8 !important

.btn-black
	$color : #000
	@include themes($color) 


button, .btn
	-webkit-transition: all .3s ease-in-out
	-moz-transition: all .3s ease-in-out
	-o-transition: all .3s ease-in-out
	-ms-transition: all .3s ease-in-out
	transition: all .3s ease-in-out


.btn-primary
	background-color: $rojo-dark
	border-color: $rojo-dark

	&:hover, &:active, &:focus
		background-color: $rojo
		border-color: $rojo
		opacity: 0.8


// =============================================================
/* RESPONSIVE */
// =============================================================

/** mobile --------------------------------------- **/
//@media screen and (min-width: 0px) and (max-width : 767px)


/** tablet landscape ---------------------------------------- **/
//@media screen and (min-width: 771px) and (max-width : 900px)


/** tablet ---------------------------------------- **/
//@media screen and (min-width: 768px) and (max-width : 1280px)


/** notbook ---------------------------------------- **/
//@media screen and (min-width: 1280px) and (max-width : 1800px)


/** desktop ---------------------------------------- **/
//@media screen and (min-width: 1801px) and (max-width : 2200px)


/** desktop large---------------------------------------- **/
//@media screen and (min-width: 2220px) and (max-width : 4000px)