/* datatable */

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
	background-color: $rojo-dark
	border-color: $rojo-dark

.pagination > li > a, .pagination > li > span 
	color: #222

table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty
	padding: 20px
	border: 1px solid #e1e1e1
	text-align: center !important

#tabla-datatable_wrapper
	.row:first-child, .row:last-child
		background-color: #E4E4E4
		margin: 0
		padding: 8px 0 5px 0
		font-size: 12px

.table
	thead
		tr
			th
				font-weight: bold
				border-bottom: 1px solid #666
				border-top: 1px solid #666 !important
				text-align: center

				&:last-child
					text-align: right

				&:first-child
					text-align: left

				&.hide-filter
					&:after
						display: none

	tbody
		tr
			td
				text-align: center
				padding-right: 30px

				&:last-child
					text-align: right

				&:first-child
					text-align: left

				




