/* STYLE - Footer */
$gris-footer: #ababab
$text-light: #DADADA
$text: #fff

footer
	background-color: #e1e1e1
	border: none
	bottom: 0
	padding: 10px
	position: absolute
	width: 100%

	a
		text-decoration: none !important
		border: none !important

		&:hover
			text-decoration: none !important
			border: none !important

	p
		margin: 0


// =============================================================
/* RESPONSIVE */
// =============================================================

/** mobile --------------------------------------- **/

/** tablet landscape ---------------------------------------- **/
//@media screen and (min-width: 771px) and (max-width : 900px)


/** tablet ---------------------------------------- **/
//@media screen and (min-width: 768px) and (max-width : 1280px)


/** notbook ---------------------------------------- **/
//@media screen and (min-width: 1280px) and (max-width : 1800px)


/** desktop ---------------------------------------- **/
//@media screen and (min-width: 1801px) and (max-width : 2200px)


/** desktop large---------------------------------------- **/
//@media screen and (min-width: 2220px) and (max-width : 4000px)