/* STYLE - Form */
.form-group 
	padding-left: 15px
	padding-right: 15px
	
	.bootstrap-select
		&.btn-group
			border: 1px solid #ccc
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
			-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
			-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s

	.group-span-filestyle
		border: solid 1px #ccc
		border-radius: 0 4px 4px 0
	

	label
		font-weight: bold

	h4
		border-bottom: 1px solid #222
		padding: 10px
		background-color: #e1e1e1
		margin-top: 20px
		
// =============================================================
/* RESPONSIVE */
// =============================================================

/** mobile --------------------------------------- **/
//@media screen and (min-width: 0px) and (max-width : 767px)


/** tablet landscape ---------------------------------------- **/
//@media screen and (min-width: 771px) and (max-width : 900px)


/** tablet ---------------------------------------- **/
//@media screen and (min-width: 768px) and (max-width : 1280px)


/** notbook ---------------------------------------- **/
//@media screen and (min-width: 1280px) and (max-width : 1800px)


/** desktop ---------------------------------------- **/
//@media screen and (min-width: 1801px) and (max-width : 2200px)


/** desktop large---------------------------------------- **/
//@media screen and (min-width: 2220px) and (max-width : 4000px)