/* STYLE - Layout */

$rojo: #dd2527
$rojo-light: #f94a32
$rojo-dark: #d0022a
$amarillo: #fac149
$celeste: #3ecbcb


//*--- 	Mixin Fonts ---*
@mixin fonts($font)
	@font-face
		font-family: $font
		src: url('../fonts/#{$font}.eot')
		src: url('../fonts/#{$font}.eot?#iefix') format('embedded-opentype'),
		url('../fonts/#{$font}.woff') format('woff'), 
		url('../fonts/#{$font}.ttf') format('truetype'), 
		url('../fonts/#{$font}.svg#$font') format('svg')

@include fonts('brandon_blk')
@include fonts('brandon_reg')

html 
	height: 100%
	padding-left: 300px
	width: 100%
	float: left

body
	position: relative
	min-height: 100%
	float: left
	width: 100%
	padding-bottom: 120px
	padding-top: 58px
	font-family: 'Raleway', sans-serif
	padding-bottom: 40px
	float: left
	
a
	color: #222

a, button, .btn-default
	&:focus
		outline: none !important
		outline: 0 !important
		
p.disabled
	color: #B9B9B9

.container
    width: 100%
    
hr
	border: 1px solid $rojo-dark
	width: 100%
	float: left
	margin: 3px 0 10px 0

h1
	text-transform: uppercase
	font-size: 30px

	i
		color: $rojo-dark


.table
	width: 100%

.login
	padding-left: 0 !important

.jumbotron
	&.detalle
		padding: 10px

		p
			font-size: 11px

// =============================================================
/* RESPONSIVE */
// =============================================================

/** mobile --------------------------------------- **/
	
/** tablet landscape ---------------------------------------- **/
@media screen and (min-width: 0px) and (max-width : 991px)
	html
		padding-left: 0

/** tablet ---------------------------------------- **/
//@media screen and (min-width: 768px) and (max-width : 1280px)


/** notbook ---------------------------------------- **/
//@media screen and (min-width: 1280px) and (max-width : 1800px)


/** desktop ---------------------------------------- **/
//@media screen and (min-width: 1801px) and (max-width : 2200px)


/** desktop large---------------------------------------- **/
//@media screen and (min-width: 2220px) and (max-width : 4000px)