/* STYLE - NavBar */
$gris-search: #d3d3d3
$gris-menu: #787878
$rojo-menu: #d0022a
$rojo-menu-dark: #bc0126
$gris-menu-mobile: #3b3b3b


.navmenu-brand
	margin: 5px 0
	padding: 5px 0

.navmenu-default .navmenu-nav > .active > a
	color: #ffffff !important
	background-color: #222  !important

.navmenu-default .navmenu-nav > .open > a,.navmenu-default .navmenu-nav > li > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover, .navmenu-default .navmenu-nav > li > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus
	color: #222 !important
	background-color: #d1d1d1  !important

.navbar-default 
	border-color: #d1d1d1


.nav
	margin-top: 0px

	&.navbar-right
		li
			border: none !important
		.dropdown-menu 
			padding: 0
			li
				border: none !important
				a
					background-color: #fff !important

		.dropdown
			&:hover .dropdown-menu
				display: block

	li
		border-bottom: 1px solid #d1d1d1
		color: #222 !important

		a
			color: #222 !important

			i
				color: $rojo-dark


	.dropdown

		.dropdown-menu 
			li
				border-bottom: 1px solid #e1e1e1
				a
					padding: 8px 8px 8px 15px

					&:hover, &:focus
						color: #222 !important
						background-color: #d1d1d1 !important

				&.active
					a
						color: #222222 !important
						background-color: #CECECE !important

.accordion
	.accordion-heading
		padding: 8px 8px 8px 15px
		cursor: pointer
		background-color: #d1d1d1 !important

		a		
			color: #222 !important
		
		&.collapsed
			background-color: #ffffff !important

			a		
				color: #222 !important

		&:hover 
			background-color: #d1d1d1 !important

		a
			width: 100%

			&:hover, &:focus
				text-decoration: none

		&.active
			color: #fff
			background-color: #222 !important

			a		
				color: #fff !important


	.accordion-body
		background-color: #e7e7e7

		ul
			padding: 0px 0px 0px 15px
			li
				list-style: none
				padding: 8px 8px 8px 15px



@media screen and (min-width: 768px) and (max-width : 992px)
	.navbar-toggle
		display: block

