=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	-o-border-radius: $radius
	border-radius: $radius

=transform($transform)
	-webkit-transform: $transform
	-moz-transform: $transform
	-ms-transform: $transform
	-o-transform: $transform
	transform: $transform

=transition($transition)
	-webkit-transition: $transition
	-moz-transition: $transition
	-ms-transition: $transition
	-o-transition: $transition
	transition: $transition

=animation($animation)
	-webkit-animation: $animation 
	-moz-animation: $animation 
	-ms-animation: $animation 
	-o-animation: $animation 
	animation: $animation

=placeholder($color: $input-color-placeholder) 
	&::-moz-placeholder           
		color: $input-color-placeholder
		opacity: 1

	&:-ms-input-placeholder
		color: $input-color-placeholder

	&::-webkit-input-placeholder
		color: $input-color-placeholder

